@import '../App.scss';

.home {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 1rem;
    padding: 10px;

    &__search {
        width: 30%;
    }

    &__form {
        width: 70%;
        padding: 15px;

        .form-button {
            margin-left: 10px;
            margin-top: 10px;
        }

        .MuiTextField-root {
            width: 70%;
        }
    }

    &__input {
        padding: 1rem;
        margin-top: 3px;
        width: 70%;
        font-size: medium;
        border-radius: 5px;
    }

    .submit-btn {
        height: 40px;
        margin: 15px;
        width: 200px;
        background-color: rgb(15, 17, 16);
        border: none;
        border-radius: 5px;
        color: #ffffff;
        font-weight: 800;
        letter-spacing: .8px;
    }
}